# --------------------
[MONGO]
# --------------------

url = mongodb://<IP_ADDRESS>:<PORT>
db = <DB>
collection = <COLLECTION>

# --------------------
[KEYCLOAK]
# --------------------

#url = https://<HOST_NAME>/auth/realms/sunbird/protocol/openid-connect/token
url = http://<IP_ADDRESS>/auth/realms/sunbird/protocol/openid-connect/token
#client_id = <CLIENT_ID>
#client_secret = <CLIENT_SECRET>
client_id = <CLIENT_ID>
grant_type = <GRANT_TYPE>
refresh_token = <REFRESH_TOKEN>

# --------------------
[API]
# --------------------

content_type = application/json
authorization = Bearer <AUTHORISATION_TOKEN>

# --------------------
[ENDPOINTS]
# --------------------

read_user =  http://<IP_ADDRESS>/api/user/v3/read
coordinator_v1_ds = coordinator/v1/datasources/
indexer_v1_task = indexer/v1/task

# --------------------
[DRUID]
# --------------------

url =  http://<ID_ADDRESS>/druid/

# --------------------
[SPECS]
# --------------------

sl_general_unnati_spec = {"type":"index","spec":{"ioConfig":{"type":"index","inputSource":{"type": "azure","uris": ["azure://samiksha/projects/sl_projects.json"]},"inputFormat":{"type":"json"}},"tuningConfig":{"type":"index","partitionsSpec":{"type":"dynamic"}},"dataSchema":{"dataSource":"sl-project","granularitySpec":{"type":"uniform","queryGranularity":"HOUR","rollup":true,"segmentGranularity":"DAY"},"timestampSpec":{"column":"project_updated_date","format":"auto"},"dimensionsSpec":{"dimensions":[]},"metricsSpec":[]}}}

# --------------------
[AZURE]
# --------------------

account_name = <AZURE ACCOUNT NAME>
sas_token = <SAS_TOKEN>
container_name = <CONTAINER_NAME>
blob_path = <BLOB_PATH>

# --------------------
[FILE_PATHS]
# --------------------

projects_output_dir = <PROJECTS_OUTPUT_DIR>
project_success_log_filename = <SUCCESS_LOG_FILE_PATH>
project_error_log_filename = <ERROR_LOG_FILE_PATH>

