[ML_APP_NAME]

survey_app = {{ ML_SURVEY_APP_NAME }}

integrated_app = {{ ML_INTEGRATED_APP_NAME }}

[API_HEADERS]

content_type = application/json

authorization = {{ API_AUTHORIZATION_KEY }}

internal_access_token = {{ API_ACCESS_TOKEN }}

[ML_SURVEY_SERVICE_URL]

url = {{ ML_SURVEY_SERVICE }}

entity_related_end_point = assessment/api/v1/entities/relatedEntities/

user_profile_end_point = assessment/api/v1/userExtension/getProfile/

evidence_base_url = {{ EVIDENCE_BASE_URL }}

[MONGO]

# --------------
# Mongo  url
#---------------

url = mongodb://{{ MONGODB_URL }}

# -----------------------
# Mongo database name
# -----------------------

database_name = {{ MONGO_DB_NAME }}

# -------------------
# Mongo Collections
# -------------------

observation_sub_collection = {{ MONGO_OBSERVATION_SUBMISSION_COLLECTION }}

solutions_collection = {{ MONGO_SOLUTION_COLLECTION }}

observations_collection = {{ MONGO_OBSERVATION_COLLECTION }}

entity_type_collection = {{ MONGO_ENTITY_TYPE_COLLECTION }}

questions_collection = {{ MONGO_QUESTION_COLLECTION }}

criteria_collection = {{ MONGO_CRITERIA_COLLECTION }}

entities_collection = {{ MONGO_ENTITIES_COLLECTION }}

programs_collection = {{ MONGO_PROGRAM_COLLECTION }}

user_roles_collection = {{ MONGO_USERROLES_COLLECTION }}

criteria_questions_collection = {{ MONGO_CRITERIA_QUESTIONS_COLLECTION }}

projects_collection = {{ MONGO_PROJECTS_COLLECTION }}

survey_submissions_collection = {{ MONGO_SURVEY_SUBMISSIONS_COLLECTION }}

survey_collection = {{ MONGO_SURVEY_COLLECTION }}

[DRUID]

metadata_url = http://{{ DRUID_URL }}/druid/coordinator/v1/datasources/

batch_url = http://{{ DRUID_URL }}/druid/indexer/v1/task

observation_status_injestion_spec = {{ DRUID_OBSERVATION_STATUS_INJESTION_SPEC }}

project_injestion_spec = {{ DRUID_PROJECT_INJESTION_SPEC }}

[KAFKA]

url = {{ KAFKA_URL }}

observation_raw_topic = {{ KAFKA_OBSERVATION_TOPIC_NAME }}

observation_druid_topic = {{ KAFKA_OBSERVATION_DRUID_TOPIC_NAME }}

observation_evidence_druid_topic =  {{ KAFKA_OBSERVATION_EVIDENCE_TOPIC_NAME }}

survey_evidence_druid_topic = {{ KAFKA_SURVEY_EVIDENCE_TOPIC_NAME }}

survey_raw_topic = {{ KAFKA_SURVEY_TOPIC_NAME }}

survey_druid_topic = {{ KAFKA_SURVEY_DRUID_TOPIC_NAME }}

[LOGS]

observation_streaming_success = {{ OBSERVATION_LOG_FOLDER_PATH }}/success.log

observation_streaming_error = {{ OBSERVATION_LOG_FOLDER_PATH }}/error.log

observation_streaming_evidence_success = {{ OBSERVATION_LOG_FOLDER_PATH }}/evidence/success.log

observation_streaming_evidence_error = {{ OBSERVATION_LOG_FOLDER_PATH }}/evidence/error.log

observation_status_success = {{ OBSERVATION_LOG_FOLDER_PATH }}/status/success.log

observation_status_error = {{ OBSERVATION_LOG_FOLDER_PATH }}/status/error.log

project_success = {{ PROJECT_LOG_FOLDER_PATH }}/success.log

project_error = {{ PROJECT_LOG_FOLDER_PATH }}/error.log

survey_evidence_streaming_success = {{ SURVEY_LOG_FOLDER_PATH }}/evidence/success.log

survey_evidence_streaming_error = {{ SURVEY_LOG_FOLDER_PATH }}/evidence/error.log

survey_streaming_success = {{ SURVEY_LOG_FOLDER_PATH }}/success.log

survey_streaming_error = {{ SURVEY_LOG_FOLDER_PATH }}/error.log

[ELASTICSEARCH]

header = {'Content-Type': 'application/json'}

url_user = http://{{ ES_URL }}/users/_search/?scroll=1m

user_body = {"size": 10000,"query":{"bool":{"must":[{"match":{"_type":"common"}}]}}}

url_scroll = http://{{ ES_URL }}/_search/scroll

url_entity = http://{{ ES_URL }}/entities/_search/?scroll=1m

[AZURE]

account_name = {{ AZURE_ACCOUNT_NAME }}

sas_token = {{ AZURE_SAS_TOKEN }}

container_name = {{ AZURE_CONTAINER_NAME }}

observation_blob_path = {{ OBSERVATION_AZURE_BLOB_PATH }}

projects_blob_path = {{ PROJECT_AZURE_BLOB_PATH }}

[REDIS]

host = {{ REDIS_HOST }}

port = {{ REDIS_PORT }}

db_name = {{ REDIS_DB_NAME }}

[OUTPUT_DIR]

project = {{ PROJECT_OUTPUT_DIR }}

observation_status = {{ OBSERVATION_STATUS_OUTPUT_DIR }}